@{
    Layout = "_ColumnsOne";

    Html.AppendCssFileParts("~/Themes/Pavilion/Content/css/owl.carousel.css");
    Html.AddScriptParts(ResourceLocation.Footer, "~/Themes/Pavilion/Content/scripts/owl.carousel.min.js");
	
    //page class
    Html.AppendPageCssClassParts("html-home-page");
}

<div class="page home-page">
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageTop })
        @await Component.InvokeAsync("TopicBlock", new { systemName = "HomepageText" })
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeCategories })
        @await Component.InvokeAsync("HomepageCategories")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeProducts })
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeBestSellers })

        <div class="homepage-middle-wrapper">
		    @await Component.InvokeAsync("HomepageBestSellers")
		    @await Component.InvokeAsync("Widget", new { widgetZone = "pavilion_home_page_richblog" })
        </div>

        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeNews })
        @await Component.InvokeAsync("HomepageNews")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforePoll })
        @await Component.InvokeAsync("HomepagePolls")

        <div class="homepage-bottom-wrapper">
        	@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBottom })
        </div>

    </div>
</div>