@model SevenSpikes.Nop.Plugins.HtmlWidgets.Areas.Admin.Models.HtmlWidgetModel

<div class="raw clearfix">
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        &nbsp;
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="Name" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="Visible" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Visible" />
                            </div>
                        </div>

                        @(Html.LocalizedEditor<HtmlWidgetModel, HtmlWidgetLocalizedModel>("htmlwidget-localized",
                        @<div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <nop-label asp-for="HtmlContent" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="@Model.Locales[item].HtmlContent" asp-template="RichEditor" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                                </div>
                            </div>
                        </div>
    ,
                        @<div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <nop-label asp-for="HtmlContent" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="HtmlContent" asp-template="RichEditor" />
                                </div>
                            </div>
                        </div>
                              ))
                    </div>
                </div>
            </div>
            @await Html.PartialAsync(Views.StoreSettings, Model)
        </div>
    </div>
</div>
