@model Nop.Plugin.Payments.Synchrony.Models.ErrorModel
@using Nop.Web.Framework.UI;
@using Nop.Core.Infrastructure;
@using Nop.Core;
@using Nop.Services.Configuration;

@inject ISettingService settingService;
@inject IStoreContext storeContext;

@{
	Layout = "";
	bool onepagecheckoutenabled = await settingService.GetSettingByKeyAsync(
		"ordersettings.onepagecheckoutenabled",
		true,
		(await storeContext.GetCurrentStoreAsync()).Id,
		true
	);
}
<!--
<link href="~/Plugins/Payments.Synchrony/Contents/css/Style.css" rel="stylesheet" />
-->
<div class="retrypayment">
	<div class="paymenterror">@Model.Message</div>
	@*@T("Plugins.Payments.Synchrony.PleaseRetry")*@
	<button type="button" id="retry" class="button-1">@T("Plugins.Payments.Synchrony.button.RetryPayment")</button>
</div>
<script type="text/javascript">
    $("#retry").click(function () {
		if ('@Model.isBack' == "True") {
			if ('@onepagecheckoutenabled' == 'True') {
				Checkout.back();
			} else {
				window.history.back();
			}
			return false;
        } else {
			if ('@onepagecheckoutenabled' == 'True') {
				window.location.replace('onepagecheckout');
			} else {
				window.location.replace('/checkout/paymentmethod');
			}
        }
    });
</script>