@model AbcWarehouse.Plugin.Widgets.AddToCartSlideout.Models.ProductInfoModel;

<div id="add-to-cart-slideout__product-info">
    <img id="add-to-cart-slideout__product-image" src="@Model.ImageUrl" style="float: left; padding-right: 0.25rem; width: 65px" />
    <div id="add-to-cart-slideout__product-name">@Model.Name</div>
    <div id="add-to-cart-slideout__product-description">@Model.Description</div>
</div>