@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <div class="product-grid bestsellers">
        <div class="title">
            <strong>@T("Bestsellers")</strong>
        </div>
        <div class="item-grid">
            @{
                var i = 1;
            }
            @foreach (var item in Model)
            {
                <div class="item-box">
                    @await Html.PartialAsync("_ProductBox", item)
                    @await Component.InvokeAsync("Widget", new { widgetZone = "GAEnhanced_Impression", additionalData = (string.Format("{0}|{1}|{2}", item.Id, i++, "Homepage Best Sellers")) })
                </div>
            }
        </div>
    </div>
}