<!--
    Starting point comes from https://www.w3schools.com/howto/howto_js_sidenav.asp
-->

@{
    Html.AddCssFileParts("https://use.fontawesome.com/releases/v5.3.1/css/all.css", "", true);
}

<div id="addToCartSlideout">
  <a href="javascript:void(0)" class="closebtn" onclick="closeSlideout()">&times;</a>
  <div class="wrapper">
    <div class="title">
        <i class="fas fa-check-circle" style="color: "></i> Item Added to Cart
    </div>
    <div id="addToCartSlideout-productInfo">
        <img style="float: left; padding-right: 0.25rem" src="https://placedog.net/70/70" />
        <div id="addToCartSlideout-product-name"></div>
        <div id="addToCartSlideout-product-description"></div>
    </div>
    <hr />
    <div id="addToCartSlideout-buttons">
        <a href="/cart">Go To Cart</button>
        <a onclick="closeSlideout()">Continue Shopping</button>
    </div>
  </div>
</div>

<!-- move this into it's own CSS file -->
<style>
    #addToCartSlideout {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 100000;
        top: 0;
        right: 0;
        background-color: #fff;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 1rem;
        transition: 0.5s;
    }

    /* Position and style the close button (top right corner) */
    #addToCartSlideout .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    /* need this to allow for hiding the full slideout and providing spacing */
    #addToCartSlideout .wrapper {
        margin: 0 1rem;
    }

    #addToCartSlideout .title {
        font-weight: bold;
        font-size: 1.25rem;
    }

    #addToCartSlideout .title i {
        color: #4bd37b;
    }

    #addToCartSlideout-productInfo {
        padding: 1rem 0;
    }

    #addToCartSlideout-product-name {
        font-size: 0.75rem;
    }

    #addToCartSlideout-buttons {
        position: absolute;
        bottom: 1rem;
    }

    #addToCartSlideout-buttons a {
        width: 100%;
        background-color: white;
        border: 2px solid #e1e1e1;
        font-weight: bold;
        padding: 1rem;
        margin-top: 0.25rem;
        display: inline-block;
        text-align: center;
    }
</style>

<script>
    function closeSlideout() {
        document.getElementById("addToCartSlideout").style.width = "0";
    } 
</script>