@*
    Starting point comes from https://www.w3schools.com/howto/howto_js_sidenav.asp
*@

@{
    Html.AddCssFileParts("~/Plugins/Misc.AbcFrontend/styles/add-to-cart-slideout.css");
    Html.AddCssFileParts("https://use.fontawesome.com/releases/v5.3.1/css/all.css", "", true);

    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Misc.AbcFrontend/scripts/add-to-cart-slideout.js");
}

<div id="add-to-cart-slideout-overlay"></div>
<div id="add-to-cart-slideout">
  <a href="javascript:void(0)" class="add-to-cart-slideout__close" onclick="hideAddToCartSlideout()">&times;</a>
  <div class="add-to-cart-slideout__title">
      <i class="fas fa-check-circle" style="color: "></i> Item Added to Cart
  </div>
  <div id="add-to-cart-slideout__product-info">
      <img id="add-to-cart-slideout__product-image" style="float: left; padding-right: 0.25rem; width: 65px" />
      <div id="add-to-cart-slideout__product-name"></div>
      <div id="add-to-cart-slideout__product-description"></div>
  </div>
  <hr style="clear: both; margin-bottom: 1rem" />
  <div id="add-to-cart-slideout__delivery-input">
      <div id="add-to-cart-slideout__delivery-zip-code">
          <label for="add-to-cart-slideout__delivery-zip-code">Enter Zip Code:</label>
          <input id="add-to-cart-slideout__delivery-zip-code-input" />
      </div>
      <button id="add-to-cart-slideout__check-delivery-options"
              class="add-to-cart-slideout-btn"
              onclick="checkDeliveryShippingAvailabilityAsync()"
              disabled>
            Check Delivery/Shipping Availability
      </button>
  </div>
  <div id="add-to-cart-slideout__delivery-options">
      <h3>Delivery/Pickup Options</h3>
      <input type="radio" id="pick-up-in-store" name="delivery-option" value="PickUpInStore">
      <label for="pick-up-in-store">Pickup In-Store or Curbside</label><br>
      <input type="radio" id="home-delivery" name="delivery-option" value="HomeDelivery" checked>
      <label for="home-delivery">Home Delivery ($14.75, FREE with Mail-In Rebate)</label><br>
  </div>
  <div id="add-to-cart-slideout__buttons">
      <div id="add-to-cart-slideout__subtotal">Subtotal: <span id="add-to-cart-slideout__subtotal-value"></span></div>
      <a href="/cart">Go To Cart</a>
      <a onclick="hideAddToCartSlideout()">Continue Shopping</a>
  </div>
</div>