@*
    Starting point comes from https://www.w3schools.com/howto/howto_js_sidenav.asp
*@

@{
    Html.AddCssFileParts("~/Plugins/Misc.AbcFrontend/styles/add-to-cart-slideout.css");
    Html.AddCssFileParts("https://use.fontawesome.com/releases/v5.3.1/css/all.css", "", true);

    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Misc.AbcFrontend/scripts/add-to-cart-slideout.js");
}

<div id="add-to-cart-slideout__overlay"></div>
<div id="add-to-cart-slideout">
  <a href="javascript:void(0)" class="add-to-cart-slideout__closebtn" onclick="closeAddToCartSlideout()">&times;</a>
  <div class="add-to-cart-slideout__wrapper">
    <div class="add-to-cart-slideout__title">
        <i class="fas fa-check-circle" style="color: "></i> Item Added to Cart
    </div>
    <div id="add-to-cart-slideout__product-info">
        <img style="float: left; padding-right: 0.25rem" src="https://placedog.net/70/70" />
        <div id="add-to-cart-slideout__product-name"></div>
        <div id="add-to-cart-slideout__product-description"></div>
    </div>
    <hr />
    <div id="add-to-cart-slideout__buttons">
        <a href="/cart">Go To Cart</a>
        <a onclick="closeAddToCartSlideout()">Continue Shopping</a>
    </div>
  </div>
</div>