@model ImportModel

@using Nop.Plugin.Misc.AbcSync.Models

@{
    Layout = "_ConfigurePlugin";
}

<form asp-controller="AbcSync" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                CC Email Lists
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="ArchiveTaskCCEmails" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ArchiveTaskCCEmails" />
                        <span asp-validation-for="ArchiveTaskCCEmails"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="CatalogUpdateFailureCCEmails" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="CatalogUpdateFailureCCEmails" />
                        <span asp-validation-for="CatalogUpdateFailureCCEmails"></span>
                    </div>
                </div>
            </div>
            <div class="panel-heading">
                Uptime Change Settings
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="MainStoreWebTestSubscriptionId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MainStoreWebTestSubscriptionId" />
                        <span asp-validation-for="MainStoreWebTestSubscriptionId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="MainStoreWebTestResourceGroup" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MainStoreWebTestResourceGroup" />
                        <span asp-validation-for="MainStoreWebTestResourceGroup"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="MainStoreWebTestName" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MainStoreWebTestName" />
                        <span asp-validation-for="MainStoreWebTestName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="ClearanceStoreWebTestSubscriptionId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ClearanceStoreWebTestSubscriptionId" />
                        <span asp-validation-for="ClearanceStoreWebTestSubscriptionId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="ClearanceStoreWebTestResourceGroup" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ClearanceStoreWebTestResourceGroup" />
                        <span asp-validation-for="ClearanceStoreWebTestResourceGroup"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="ClearanceStoreWebTestName" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ClearanceStoreWebTestName" />
                        <span asp-validation-for="ClearanceStoreWebTestName"></span>
                    </div>
                </div>
            </div>
            <div class="panel-heading">
                FillStaging Skips
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SkipFillStagingProductsTask" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipFillStagingProductsTask" />
                        <span asp-validation-for="SkipFillStagingProductsTask"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SkipFillStagingPricingTask" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipFillStagingPricingTask" />
                        <span asp-validation-for="SkipFillStagingPricingTask"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SkipFillStagingAccessoriesTask" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipFillStagingAccessoriesTask" />
                        <span asp-validation-for="SkipFillStagingAccessoriesTask"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SkipFillStagingBrandsTask" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipFillStagingBrandsTask" />
                        <span asp-validation-for="SkipFillStagingBrandsTask"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SkipFillStagingProductCategoryMappingsTask" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipFillStagingProductCategoryMappingsTask" />
                        <span asp-validation-for="SkipFillStagingProductCategoryMappingsTask"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SkipFillStagingScandownEndDatesTask" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipFillStagingScandownEndDatesTask" />
                        <span asp-validation-for="SkipFillStagingScandownEndDatesTask"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SkipFillStagingWarrantiesTask" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipFillStagingWarrantiesTask" />
                        <span asp-validation-for="SkipFillStagingWarrantiesTask"></span>
                    </div>
                </div>
            </div>
            <div class="panel-heading">
                CoreUpdate Skips
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SkipImportProductsTask" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipImportProductsTask" />
                        <span asp-validation-for="SkipImportProductsTask"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SkipMapCategoriesTask" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipMapCategoriesTask" />
                        <span asp-validation-for="SkipMapCategoriesTask"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SkipImportProductCategoryMappingsTask" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipImportProductCategoryMappingsTask" />
                        <span asp-validation-for="SkipImportProductCategoryMappingsTask"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SkipAddHomeDeliveryAttributesTask" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipAddHomeDeliveryAttributesTask" />
                        <span asp-validation-for="SkipAddHomeDeliveryAttributesTask"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SkipImportMarkdownsTask" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipImportMarkdownsTask" />
                        <span asp-validation-for="SkipImportMarkdownsTask"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SkipImportRelatedProductsTask" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipImportRelatedProductsTask" />
                        <span asp-validation-for="SkipImportRelatedProductsTask"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SkipImportWarrantiesTask" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipImportWarrantiesTask" />
                        <span asp-validation-for="SkipImportWarrantiesTask"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SkipUnmapNonstockClearanceTask" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipUnmapNonstockClearanceTask" />
                        <span asp-validation-for="SkipUnmapNonstockClearanceTask"></span>
                    </div>
                </div>
            </div>
            <div class="panel-heading">
                ContentUpdate Skips
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SkipImportDocumentsTask" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipImportDocumentsTask" />
                        <span asp-validation-for="SkipImportDocumentsTask"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SkipImportIsamSpecsTask" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipImportIsamSpecsTask" />
                        <span asp-validation-for="SkipImportIsamSpecsTask"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SkipImportFeaturedProductsTask" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipImportFeaturedProductsTask" />
                        <span asp-validation-for="SkipImportFeaturedProductsTask"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SkipImportProductFlagsTask" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipImportProductFlagsTask" />
                        <span asp-validation-for="SkipImportProductFlagsTask"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SkipImportSotPicturesTask" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipImportSotPicturesTask" />
                        <span asp-validation-for="SkipImportSotPicturesTask"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SkipImportLocalPicturesTask" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipImportLocalPicturesTask" />
                        <span asp-validation-for="SkipImportLocalPicturesTask"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SkipUnmapEmptyCategoriesTask" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipUnmapEmptyCategoriesTask" />
                        <span asp-validation-for="SkipUnmapEmptyCategoriesTask"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SkipSliExportTask" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipSliExportTask" />
                        <span asp-validation-for="SkipSliExportTask"></span>
                    </div>
                </div>
            </div>
            <div class="panel-heading">
                Sync Process Settings
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="StagingDbConnectionString" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="StagingDbConnectionString" />
                        <span asp-validation-for="StagingDbConnectionString"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="ImportABCStores" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ImportABCStores" />
                        <span asp-validation-for="ImportABCStores"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="ImportHawthorneStores" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ImportHawthorneStores" />
                        <span asp-validation-for="ImportHawthorneStores"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>