@model SevenSpikes.Nop.Plugins.HtmlWidgets.Areas.Admin.Models.HtmlWidgetsSettingsModel
@{
    Layout = AdminViewLocations.AdminLayoutViewPath;

    Html.SetActiveMenuItemSystemName("SevenSpikes.Plugins.HtmlWidgets.Admin.Submenus.Settings");
}

<form method="post">
    <nop-antiforgery-token />

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("SevenSpikes.Plugins.HtmlWidgets.Admin.Settings")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @Html.TrialMessage(Model.IsTrialVersion, Plugin.Name, Plugin.UrlInStore)
            @await Component.InvokeAsync("StoreScopeConfiguration")
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="EnableHtmlWidgets_OverrideForStore" asp-input="EnableHtmlWidgets" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="EnableHtmlWidgets" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="EnableHtmlWidgets" />
                                <span asp-validation-for="EnableHtmlWidgets"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>