@model SettingsModel

@using Nop.Plugin.Misc.AzureWebTestsIntegration.Models

@{
    Layout = "_ConfigurePlugin";
}

<form asp-controller="AzureWebTestsIntegration" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-12">
                        To get started with using this plugin, create a service principal in your Azure tenant. You can do this with the following command with the Azure CLI:<br />
                        <code>az login</code><br />
                        <code>az ad sp create-for-rbac --name SERVICE_PRINCIPAL_NAME</code><br />
                        After creating the service principal, assign it access to the appropriate Web Test resources.
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="ClientId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ClientId" />
                        <span asp-validation-for="ClientId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="ClientSecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ClientSecret" />
                        <span asp-validation-for="ClientSecret"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="TenantId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TenantId" />
                        <span asp-validation-for="TenantId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>